{{> header}}


<div class="container">

    <main>
        <div class="box1">
            <div class="logo">
                {{!-- <img src="../public/assets/images/NFL News Scraper.svg" alt="" class="logo-pic"> --}}
                <h4><span class="nfl">NFL </span>News Scraper</h4>
            </div>
        </div>
        <div class="box2">
            <small>Your Direct NFL News Feed</small>
        </div>
        <div class="box3">
            <button class="btn">Get The Latest News</button>
        </div>
    </main>
    {{!-- <section class="articles">
        {{each articles}}
            <div class="media">
                <img src="{{image}}" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">{{title}}</h5>
                    <p>{{link}}</p>
                </div>
        {{/each}}
    </section> --}}

</div>


{{> footer }}